force-app/main/default/flows/APTSMD_Agreement_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>APTSMD_Check_for_MSA_with_NDA</name>
        <label>Check for MSA with NDA</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Redirect_to_Agreement_Submit_Request_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APTSMD_If_MSA_with_NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Want_To_Create_NDA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_Redirect_to_Agreement_Submit_Controller_V2</targetReference>
            </connector>
            <label>If MSA with NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>APTSMD_Check_for_Type_of_Paper</name>
        <label>Check for Type of Paper</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>APTSMD_Redirect_to_Agreement_Submit_Request_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APTSMD_If_Third_Party_Paper_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Type_Of_Paper</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Paper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_Loop_Through_Uploaded_Docs</targetReference>
            </connector>
            <label>If Third Party Paper Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>APTSMD_Check_if_NDA_Record_Type_Selected_For_Master_Agreement</name>
        <label>Check if NDA Record Type Selected For Master Agreement</label>
        <locationX>545</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>APTSMD_Check_MSA_And_SOW_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APTSMD_If_NDA_Selected_and_Third_Party_Paper_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Is_this_agreement_regarding_confidentiality</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_Check_for_Type_of_Paper</targetReference>
            </connector>
            <label>If NDA Selected and Third Party Paper Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>APTSMD_Check_MSA_And_SOW_Record_Type</name>
        <label>Check MSA And SOW Record Type</label>
        <locationX>908</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Redirect_to_Agreement_Submit_Request_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If SOW</defaultConnectorLabel>
        <rules>
            <name>APTSMD_If_MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Is_this_record_going_to_be_a_Master_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_Check_for_MSA_with_NDA</targetReference>
            </connector>
            <label>If MSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>APTSMD_Is_Record_Type_MSA</name>
        <label>Is Record Type MSA?</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>APTSMD_Get_Record_Type_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APTSMD_Check_for_MSA_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Is_this_record_going_to_be_a_Master_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_NDA_Alert</targetReference>
            </connector>
            <label>Check for MSA Record Type</label>
        </rules>
    </decisions>
    <description>MDO: This flow is used to creating agreement with different record type selections with additional details regarding agreement.</description>
    <dynamicChoiceSets>
        <name>APTSMD_Engagement_Type_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APTSMD_Engagement_Type__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>APTSMD_Region_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APTSMD_Region__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>APTSMD_Support_Exhibits_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APTSMD_Support_Exhibits__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>APTSMD_Type_Of_Paper_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APTSMD_Type_Of_Paper__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>APTSMD_Selected_RecordType</name>
        <dataType>String</dataType>
        <expression>IF({!APTSMD_Is_this_agreement_regarding_confidentiality}={!Yes}, &apos;NDA&apos;, IF({!APTSMD_Is_this_agreement_going_to_scope_a_project_or_project_detail}={!Yes}, &apos;SOW&apos;, IF({!APTSMD_Is_this_record_going_to_be_a_Master_Agreement}={!Yes},&apos;MSA&apos;,&apos;MSA&apos;)))</expression>
    </formulas>
    <formulas>
        <name>APTSMD_Selected_Template_Name</name>
        <dataType>String</dataType>
        <expression>IF({!APTSMD_Is_this_agreement_regarding_confidentiality}={!Yes}, &apos;NDA&apos;, IF({!APTSMD_Is_this_agreement_going_to_scope_a_project_or_project_detail}={!Yes}, &apos;SOW&apos;, IF({!APTSMD_Is_this_record_going_to_be_a_Master_Agreement}={!Yes},&apos;MSA Order Form&apos;,&apos;MSA Order Form&apos;)))</expression>
    </formulas>
    <interviewLabel>Agreement Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreement Creation Flow</label>
    <loops>
        <name>APTSMD_Loop_Through_Uploaded_Docs</name>
        <label>Loop Through Uploaded Docs</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>APTSMD_Upload_File.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>APTSMD_Create_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>APTSMD_Redirect_to_Agreement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APTSMD_Create_Agreement_Record</name>
        <label>Create Agreement Record</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>APTSMD_Get_Agreement_Template_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>APTSMD_Engagement_Duration_Weeks__c</field>
            <value>
                <elementReference>APTSMD_Engagement_Duration_Weeks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_Engagement_Type__c</field>
            <value>
                <elementReference>APTSMD_Engagement_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_Region__c</field>
            <value>
                <elementReference>APTSMD_What_region_is_this_Account_from</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_SOW_Title__c</field>
            <value>
                <elementReference>APTSMD_SOW_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_Support_Exhibits__c</field>
            <value>
                <elementReference>APTSMD_Support_Exhibits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_Type_Of_Paper__c</field>
            <value>
                <elementReference>APTSMD_Type_Of_Paper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_What_is_being_disclosed__c</field>
            <value>
                <elementReference>APTSMD_What_is_being_disclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus_CMConfig__PaymentTermId__c</field>
            <value>
                <elementReference>APTSMD_Payment_Terms.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Account__c</field>
            <value>
                <elementReference>APTSMD_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_End_Date__c</field>
            <value>
                <elementReference>APTSMD_Agreement_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_Start_Date__c</field>
            <value>
                <elementReference>APTSMD_Agreement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Primary_Contact__c</field>
            <value>
                <elementReference>APTSMD_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Total_Contract_Value__c</field>
            <value>
                <elementReference>APTSMD_Total_Agreement_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>APTSMD_Get_Record_Type_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>APTSMD_Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>APTSMD_Loop_Through_Uploaded_Docs</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>APTSMD_Loop_Through_Uploaded_Docs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>APTSMD_Create_Agreement_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>APTSMD_Get_Agreement_Template_Record</name>
        <label>Get Agreement Template Record</label>
        <locationX>545</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APTSMD_Check_if_NDA_Record_Type_Selected_For_Master_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APTSMD_Selected_Template_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>APTSMD_Get_Record_Type_Data</name>
        <label>Get Record Type Data</label>
        <locationX>545</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APTSMD_Create_Agreement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APTSMD_Selected_RecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>APTSMD_Account_Information</name>
        <label>Account Information</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APTSMD_Is_Record_Type_MSA</targetReference>
        </connector>
        <fields>
            <name>APTSMD_Account_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APTSMD_Account_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>APTSMD_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus__Primary_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>APTSMD_What_region_is_this_Account_from</name>
                    <choiceReferences>APTSMD_Region_ChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What region is this Account from?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APTSMD_Account_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_Agreement_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Agreement Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Agreement_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Agreement End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Agreement_Type</name>
        <label>Agreement Type</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APTSMD_Account_Information</targetReference>
        </connector>
        <fields>
            <name>APTSMD_Is_this_agreement_regarding_confidentiality</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this agreement regarding confidentiality?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>APTSMD_Is_this_agreement_going_to_scope_a_project_or_project_detail</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this agreement going to scope a project or project detail?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Is_this_agreement_regarding_confidentiality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APTSMD_Is_this_record_going_to_be_a_Master_Agreement</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this record going to be a Master Agreement?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Is_this_agreement_going_to_scope_a_project_or_project_detail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APTSMD_Agreement_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APTSMD_Agreement_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_Payment_Terms</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus_CMConfig__PaymentTermId__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Terms</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>APTSMD_Support_Exhibits</name>
                    <choiceReferences>APTSMD_Support_Exhibits_ChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Support Exhibits</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Total_Agreement_Value</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Agreement Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Is_this_record_going_to_be_a_Master_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APTSMD_Agreement_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APTSMD_Agreement_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_What_is_being_disclosed</name>
                    <fieldText>What is being disclosed?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Type_Of_Paper</name>
                    <choiceReferences>APTSMD_Type_Of_Paper_ChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type Of Paper</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Upload_File</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Third Party Paper</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>APTSMD_Uploaded_ContentDoc_Ids</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>APTSMD_Type_Of_Paper</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Third Party Paper</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Is_this_agreement_regarding_confidentiality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APTSMD_Agreement_Type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APTSMD_Agreement_Type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_SOW_Title</name>
                    <dataType>String</dataType>
                    <fieldText>SOW Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Engagement_Type</name>
                    <choiceReferences>APTSMD_Engagement_Type_ChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Engagement Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>APTSMD_Engagement_Duration_Weeks</name>
                    <dataType>Number</dataType>
                    <fieldText>Engagement Duration (Weeks)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Is_this_agreement_going_to_scope_a_project_or_project_detail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_NDA_Alert</name>
        <label>NDA Alert</label>
        <locationX>413</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APTSMD_Get_Record_Type_Data</targetReference>
        </connector>
        <fields>
            <name>APTSMD_Want_To_Create_NDA</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>We noticed that there is no Master NDA in place with this Company. In order to expedite your MSA we have taken the liberty to draft our Standard NDA language and have it queued up to send. Would you like us to send to the Primary Contact on your behalf?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Redirect_to_Agreement_Record</name>
        <label>Redirect to Agreement Record</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>APTSMD_Redirect_to_Agreement</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/{!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Redirect_to_Agreement_Submit_Controller_V2</name>
        <label>Redirect to Agreement Submit Controller V2</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_to_Agreement_Submit_Ctrl_v2</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/apex/APTSMD_AgreementSubmitV2?id={!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Redirect_to_Agreement_Submit_Request_Page</name>
        <label>Redirect to Agreement Submit Request Page</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_To_Agreement_Submit_Page</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/apex/Apttus__AgreementSubmitRequest?id={!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Redirect_to_Agreement_Submit_Request_Page</name>
        <label>Copy 1 of Redirect to Agreement Submit Request Page</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Redirect_To_Agreement_Submit_Page</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/apex/Apttus__AgreementSubmitRequest?id={!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Redirect_to_Agreement_Submit_Request_Page</name>
        <label>Copy 2 of Redirect to Agreement Submit Request Page</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Redirect_To_Agreement_Submit_Page</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/apex/Apttus__AgreementSubmitRequest?id={!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>APTSMD_Agreement_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APTSMD_Uploaded_ContentDoc_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
