force-app/main/default/flows/APTSMD_NDA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>APTSMD_Check_for_File_Type</name>
        <label>Check for File Type</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>APTSMD_Redirect_to_Agreement_Submit_Controller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APTSMD_If_File_Type_Third_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APTSMD_Type_Of_Papers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Paper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APTSMD_Loop_Through_Files</targetReference>
            </connector>
            <label>If File Type Third Party</label>
        </rules>
    </decisions>
    <description>MDO: This flow is used to create NDA type of agreement.</description>
    <dynamicChoiceSets>
        <name>APTSMD_Type_Of_Paper</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>APTSMD_Type_Of_Paper__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NDA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NDA Flow</label>
    <loops>
        <name>APTSMD_Loop_Through_Files</name>
        <label>Loop Through Files</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>APTSMD_Upload_Paper.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>APTSMD_Create_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>APTSMD_Redirect_to_Agreement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APTSMD_Create_Agreement_Record</name>
        <label>Create Agreement Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>APTSMD_Check_for_File_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>APTSMD_Type_Of_Paper__c</field>
            <value>
                <elementReference>APTSMD_Type_Of_Papers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APTSMD_What_is_being_disclosed__c</field>
            <value>
                <elementReference>APTSMD_What_is_being_disclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Account__c</field>
            <value>
                <elementReference>APTSMD_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_End_Date__c</field>
            <value>
                <elementReference>APTSMD_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_Start_Date__c</field>
            <value>
                <elementReference>APTSMD_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Primary_Contact__c</field>
            <value>
                <elementReference>APTSMD_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>APTSMD_Get_Record_Type_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>APTSMD_Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>APTSMD_Loop_Through_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>APTSMD_Loop_Through_Files</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>APTSMD_Create_Agreement_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>APTSMD_Get_Record_Type_Info</name>
        <label>Get Record Type Info</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APTSMD_Create_Agreement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NDA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APTSMD_Account_Information_and_Dates</name>
        <label>Account Information and Dates</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APTSMD_NDA_Details</targetReference>
        </connector>
        <fields>
            <name>APTSMD_Account_Information_and_Dates_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APTSMD_Account_Information_and_Dates_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>APTSMD_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APTSMD_Account_Information_and_Dates_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APTSMD_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus__Primary_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>APTSMD_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_NDA_Details</name>
        <label>NDA Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APTSMD_Get_Record_Type_Info</targetReference>
        </connector>
        <fields>
            <name>APTSMD_What_is_being_disclosed</name>
            <fieldText>What is being disclosed?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APTSMD_Type_Of_Papers</name>
            <choiceReferences>APTSMD_Type_Of_Paper</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Of Paper</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APTSMD_Upload_Paper</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Third Party Paper</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>APTSMD_Uploaded_Content_Doc_Ids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>APTSMD_Type_Of_Papers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Third Party Paper</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Redirect_to_Agreement_Record</name>
        <label>Redirect to Agreement Record</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>APTSMD_RedirectToAgreementRecord</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/{!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>APTSMD_Redirect_to_Agreement_Submit_Controller</name>
        <label>Redirect to Agreement Submit Controller</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>APTSMD_RedirectToAgreementSubmitCtrl</name>
            <extensionName>c:APTSMD_RedirectURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlToRedirect</name>
                <value>
                    <stringValue>/apex/Apttus__AgreementSubmitRequest?id={!APTSMD_Create_Agreement_Record}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>APTSMD_Account_Information_and_Dates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APTSMD_Uploaded_Content_Doc_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
