force-app/main/default/flows/expiringNDA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Max</name>
        <label>Query and Send to Max</label>
        <locationX>330</locationX>
        <locationY>200</locationY>
        <actionName>APTS_QueryAndSendToMax</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <inputParameters>
            <name>fieldToSave</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>expiringNDA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>SELECT Id,Apttus_Approval__Approval_Status__c,Apttus__Auto_Renewal__c,Apttus__Agreement_Number__c,Apttus__Perpetual__c,Apttus__Status_Category__c,Apttus__Status__c,RecordType.Name,RecordType.Id,RecordTypeId,Apttus__VersionAware__c,Apttus__Total_Contract_Value__c,Apttus__Account__c,Apttus__Account__r.Name,Apttus__Account__r.PhotoUrl,Apttus__Account__r.Owner.Id,Apttus__Account__r.Owner.Name,Apttus__Activated_Date__c,CreatedDate,CreatedBy.Name,CreatedById,Apttus__Contract_End_Date__c,LastModifiedDate,LastModifiedBy.Name,LastModifiedById,Name,OwnerId,Owner.Name,Apttus__Contract_Number__c,Apttus__Source__c,Apttus__Contract_Start_Date__c,Apttus__Termination_Date__c,Apttus__Primary_Contact__c,Apttus__Primary_Contact__r.Name,Apttus__Primary_Contact__r.PhotoUrl,Apttus__Term_Months__c FROM Apttus__APTS_Agreement__c WHERE Apttus__Contract_End_Date__c &gt;= TODAY AND Apttus__Contract_End_Date__c &lt;= NEXT_N_DAYS:30 AND RecordType.Id = &apos;0121U000000cVU2QAM&apos;  ORDER BY Apttus__Contract_End_Date__c DESC NULLS LAST</stringValue>
            </value>
        </inputParameters>
        <nameSegment>APTS_QueryAndSendToMax</nameSegment>
        <outputParameters>
            <assignToReference>uniqueUsers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Collect_FeedItems</name>
        <label>Collect FeedItems</label>
        <locationX>830</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>FeedItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentFeedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_FeedItem</name>
        <label>Setup FeedItem</label>
        <locationX>830</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>CurrentFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_FeedItems</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>InstanceURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <label>expiringNDA</label>
    <loops>
        <name>Loop_Users</name>
        <label>Loop through Users</label>
        <locationX>580</locationX>
        <locationY>200</locationY>
        <assignNextValueToReference>Current_User</assignNextValueToReference>
        <collectionReference>uniqueUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setup_FeedItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FeedItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FeedItems</name>
        <label>Create FeedItems</label>
        <locationX>580</locationX>
        <locationY>600</locationY>
        <inputReference>FeedItemList</inputReference>
    </recordCreates>
    <start>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Notify_Max</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-05-04</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ChatterPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hey, it looks like you have NDAs that will be expiring in the next month. Let&apos;s look them up in Max: {!InstanceURL}lightning/n/APTSMD_Max</stringValue>
        </value>
    </variables>
    <variables>
        <name>Current_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>FeedItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>uniqueUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
