force-app/main/default/flows/quotesExpiringSoon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Max</name>
        <label>Query and Send to Max</label>
        <locationX>330</locationX>
        <locationY>200</locationY>
        <actionName>APTS_QueryAndSendToMax</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <inputParameters>
            <name>fieldToSave</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationType</name>
            <value>
                <stringValue>quotesExpiringSoon</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>SELECT Id,RecordTypeId,Apttus_Proposal__ReadyToGenerate__c ,Apttus_QPConfig__ABOType__c,Apttus_Proposal__Account__r.Name,Apttus_Proposal__Account__c,Apttus_Proposal__Account__r.PhotoUrl,Apttus_Proposal__Approval_Stage__c,Apttus_QPApprov__Approval_Status__c,Apttus_QPConfig__AutoActivateOrder__c,Apttus_QPConfig__AutoCreateBill__c,Apttus_QPConfig__AutoCreateRevenue__c,Name,Apttus_Proposal__ExpectedEndDate__c,CreatedBy.Name,CreatedById,CreatedDate,Apttus_Proposal__Description__c,APTSMD_Effective_Discount__c,Apttus_Proposal__ExpectedStartDate__c,LastActivityDate,LastModifiedDate,LastModifiedBy.Name,LastModifiedById,Apttus_Proposal__Proposal_Name__c,APTSMD_Grand_Total__c,Apttus_Proposal__Opportunity__r.Name,Apttus_Proposal__Opportunity__c,Apttus_Proposal__Amount__c,Apttus_Proposal__Opportunity__r.StageName,Owner.Name,OwnerId,Apttus_QPConfig__PaymentTermId__r.Name,Apttus_QPConfig__PaymentTermId__c,Apttus_Proposal__Presented_Date__c,Apttus_QPConfig__PriceListId__r.Name,Apttus_QPConfig__PriceListId__c,Apttus_QPConfig__BillingPreferenceId__c,Apttus_Proposal__Primary_Contact__r.Name,Apttus_Proposal__Primary_Contact__c,Apttus_Proposal__Primary_Contact__r.Email,Apttus_QPConfig__ShipToAccountId__r.Name,Apttus_QPConfig__ShipToAccountId__c,Apttus_Proposal__Payment_Term__c,Apttus_Proposal__Valid_Until_Date__c,APTSMD_Initial_Price__c,APTSMD_Discounted_Price__c, (SELECT Id,Name,Apttus_QPConfig__ChargeType__c,Apttus_QPConfig__PriceUom__c,Apttus_QPConfig__Frequency__c FROM Apttus_Proposal__R00N70000001yUfBEAU__r ), (SELECT Id,Name FROM Apttus_QPConfig__ProposalSummary__r ), (SELECT Id,Name,ParentId,ContentType FROM Attachments ) FROM Apttus_Proposal__Proposal__c WHERE Apttus_Proposal__Valid_Until_Date__c &gt;= TODAY AND Apttus_Proposal__Valid_Until_Date__c &lt;= LAST_N_DAYS:7  ORDER BY Apttus_Proposal__Valid_Until_Date__c DESC NULLS LAST</stringValue>
            </value>
        </inputParameters>
        <nameSegment>APTS_QueryAndSendToMax</nameSegment>
        <outputParameters>
            <assignToReference>uniqueUsers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Collect_FeedItems</name>
        <label>Collect FeedItems</label>
        <locationX>830</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>FeedItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentFeedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_FeedItem</name>
        <label>Setup FeedItem</label>
        <locationX>830</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>CurrentFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_FeedItems</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>InstanceURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <label>quotesExpiringSoon</label>
    <loops>
        <name>Loop_Users</name>
        <label>Loop through Users</label>
        <locationX>580</locationX>
        <locationY>200</locationY>
        <assignNextValueToReference>Current_User</assignNextValueToReference>
        <collectionReference>uniqueUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setup_FeedItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FeedItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FeedItems</name>
        <label>Create FeedItems</label>
        <locationX>580</locationX>
        <locationY>600</locationY>
        <inputReference>FeedItemList</inputReference>
    </recordCreates>
    <start>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Notify_Max</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-04-27</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ChatterPost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hey, it looks like you have quotes that expire in the next week. Let&apos;s check them out in Max: {!InstanceURL}lightning/n/APTSMD_Max</stringValue>
        </value>
    </variables>
    <variables>
        <name>Current_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>FeedItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>uniqueUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
